<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="Great.LiveCharts" version="2.0.3" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Geared" version="1.2.9" targetFramework="net461" />
  <package id="LiveCharts.NetCore" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.WinForms.NetCore3" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf.FixTooltip" version="0.9.8" targetFramework="net461" />
  <package id="LiveCharts.Wpf.NetCore3" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1404.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
</packages>